<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "il.co.wallashops"
        version   = "1.1.4">
  <name>Walla! שופס</name>

  <description>
    Walla! שופס
  </description>

  <author href="http://wwww.wallashops.co.il" email="w@lla.shops">
    Walla! שופס
  </author>

  <feature name="http://api.phonegap.com/1.0/network"/>

  <preference name="phonegap-version" value="3.3.0" />
  <preference name="target-device"    value="tablet" />
  <preference name="fullscreen"       value="false" />
  <preference name="webviewbounce" value="false" />
  <preference name="detect-data-types" value="false" />
  <preference name="orientation" value="landscape"/>
  <preference name="ios-statusbarstyle" value="black-opaque" />
  <access origin="*" />
  <icon src="app/img/icon.png" />
  <!--<icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
  <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
  <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
  <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
  --><!--
  <icon src="img/ios/mobile.png"            gap:platform="ios"        width="57" height="57" />
  <icon src="img/ios/tablet.png"            gap:platform="ios"        width="72" height="72" />
  <icon src="img/ios/mobile2x.png"         gap:platform="ios"        width="114" height="114" />
  <icon src="img/ios/tabletx2.png"         gap:platform="ios"        width="144" height="144" />


  --><!--
  <gap:plugin name="com.phonegap.plugins.barcodescanner" />-->

  <gap:splash src="app/img/splash.png"  gap:platform="android" gap:density="ldpi" />
  <gap:splash src="app/img/splash.png"  gap:platform="android" gap:density="mdpi" />
  <gap:splash src="app/img/splash.png"  gap:platform="android" gap:density="hdpi" />
  <gap:splash src="app/img/splash.png" gap:platform="android" gap:density="xhdpi" />

  <gap:splash src="app/img/splash.png"    gap:platform="ios"     width="1024" height="768" />
  <gap:plugin name="org.apache.cordova.file" />
  <gap:plugin name="org.apache.cordova.file-transfer" />


  <gap:platform name="ios" />
  <gap:platform name="android" />
</widget>