body
{
    direction: rtl;
    font-size: 12pt;
}

ul li
{
    list-style: none;
}

button, input[type=submit]
{
    -webkit-appearance: none;
}

a
{
    color: black;
}

.right-buffer, .left-buffer
{
    position: absolute;
    background-color: grey;
    top: 0;
    width: 2px;
    height: 100%;
    font-size: 1px;
    opacity: .75;
}

.right-buffer, .left-buffer
{
    background: #b0b7c1; /* Old browsers */
    background: -moz-linear-gradient(top, #b0b7c1 0%, #c6cdd7 51%, #e6eef9 86%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0b7c1), color-stop(51%,#c6cdd7), color-stop(86%,#e6eef9), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b0b7c1 0%,#c6cdd7 51%,#e6eef9 86%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b0b7c1 0%,#c6cdd7 51%,#e6eef9 86%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b0b7c1 0%,#c6cdd7 51%,#e6eef9 86%,#f7f7f7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b0b7c1 0%,#c6cdd7 51%,#e6eef9 86%,#f7f7f7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0b7c1', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}


header
{
    position: absolute;
    left: 0;
    right: 0;
    height: 64px;
    z-index: 1000;
    overflow: hidden;
    line-height: 64px;
}



header
{
    background: #ecf1f7; /* Old browsers */
    background: -moz-linear-gradient(top, #ecf1f7 0%, #ecf1f7 77%, #dbe6fa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecf1f7), color-stop(77%,#ecf1f7), color-stop(100%,#dbe6fa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ecf1f7 0%,#ecf1f7 77%,#dbe6fa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ecf1f7 0%,#ecf1f7 77%,#dbe6fa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ecf1f7 0%,#ecf1f7 77%,#dbe6fa 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ecf1f7 0%,#ecf1f7 77%,#dbe6fa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf1f7', endColorstr='#dbe6fa',GradientType=0 ); /* IE6-9 */
}

.header-left-side
{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
}

.header-right-side
{
    position: absolute;
    right: 0;
    width: 300px;
}

.logo
{
    position: relative;
    width: 170px;
}

.header-category
{
    position: absolute;
    top: 0;
    left: 20px;
    text-align: center;
}

.category
{
    background-color: transparent;
    border: none;
    font-size: 12pt;
    outline: none;
}

/*.popover-click*/
.menu-is-open
{
    background-color: #444;
    border-color: #444;
    border-radius: 4px 4px 0 0;
    margin-top: 10px;
    line-height: 50px;
    width: 106px;
}

    .menu-is-open .category
    {
        color: white;
    }

.right-buffer
{
    left: 10px;
}

.hello_user .left-buffer
{
    left: 60px;
}

.hello_user
{
    width: 100px;
    text-align: center;
}


.search
{
    position: relative;
    display: block;
    margin-left: 200px;
    margin-right: 300px;
    height: 100%;
    padding-top: 15px;
}

.search-inner
{
    position: relative;
    box-shadow: inset -2px 2px 1px silver;
    background-color: white;
    border-radius: 4px;
    line-height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    height: 35px;
}

form
{
    margin: 0;
    padding: 0;
}

input[type=submit].search-button
{
    color: white;
    background-color: #333;
    border: none;
    border-radius: 4px 0 0 4px;
}

.search-input
{
    margin-left: 60px;
}

input[type=submit].search-button
{
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
}

.search-input input[type=text]
{
    height: 100%;
    width: 100%;
    letter-spacing: 1px;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    font-size: 16pt;
    line-height: 27pt;
    text-indent: .2em;
    background-color: transparent;
}

.call-center
{
    position: absolute;
    padding-top: 10px;
    left: 5px;
    width: 150px;
    height: 64px;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}

.phone-number, .phone-number:hover
{
    color: #c20340;
    font-size: 15pt;
    text-align: center;
    text-decoration: none;
}

.cart
{
    position: absolute;
    left: 5px;
    top: 0;
    margin-left: 4px;
    margin-right: 4px;
    width: 100px;
    text-align: center;
}

    .cart a
    {
        position: absolute;
        left: 0;
    }

.promotion-list li
{
    display: inline;
    margin-right: 5%;
    margin-bottom: 4px;
}

.up-arrow
{
    text-align: center;
    font-size: 15pt;
    margin-bottom: -7px;
}

.content
{
    top: 64px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.main-promotion
{
    margin-left: 260px;
}

.seasonal
{
    width: 254px;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 0;
}

.promotions
{
    margin-top: 2%;
    position: relative;
    margin-bottom: 5%;
}

.seasonal img
{
    margin-bottom: 5%;
}

.search-page .products-list-container
{
    top: 80px;

}

.search-page .right-arrow, .search-page .left-arrow
{
    top: 337px;
}

.products-list-container
{
    position: relative;
    overflow-y: hidden;
    margin: auto;
}

.products-list
{
    width: 98%;
    position: relative;
    right: 2%;
    margin: auto;
}

.products-list-content .products-list
{
    margin: 0;
}

.product
{
    border: solid 1px lightgrey;
    background-color: white;
    float: right;
    height: 248px;
    width: 234px;
    margin-bottom: 50px;
}

.product
{
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(top, #eaeaea 0%, #ffffff 3%, #ffffff 97%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(3%,#ffffff), color-stop(97%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eaeaea 0%,#ffffff 3%,#ffffff 97%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eaeaea 0%,#ffffff 3%,#ffffff 97%,#f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eaeaea 0%,#ffffff 3%,#ffffff 97%,#f2f2f2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eaeaea 0%,#ffffff 3%,#ffffff 97%,#f2f2f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

div, i
{
    user-select: none;
    -webkit-user-select: none;
}

.product-border
{
    margin: 6px 2px 6px 2px;
    background-color: white;
}

.product:last-child
{
    border-left: solid 3px #ccc;
}

.product:first-child
{
    border-right: solid 3px #ccc;
}

.product-info
{
    height: 235px;
    padding-right: 25px;
    position: relative;
    font-size: 10pt;
}

    .product-info p, .rating
    {
        margin: 5px 0 0 0;
    }

.title
{
    font-size: 12pt;
    margin-top: 10px;
}


.rating
{
    position: relative;
}

    .rating .fa
    {
        font-size: 15pt;
        letter-spacing: 1px;
        color: rgb(6, 181, 240);
        -webkit-transform: scaleX(-1);
    }



.raters-number
{
    position: absolute;
    left: 70px;
    color: #aaa;
}

.price, .details
{
    position: absolute;
    margin-bottom: 0;
    bottom: 7px;
}

.details
{
    background-image: url('../img/button.png');
    left: 5px;
    bottom: 0;
    width: 25px;
    height: 25px;
}

.details-text
{
    position: absolute;
    left: 40px;
    bottom: 5px;
}

.icons
{
    position: absolute;
    left: 5px;
    top: 5px;
}

.navigation
{
    margin: auto;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.right-arrow, .left-arrow
{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 25px;
    top: 43%;
}

.right-arrow
{
    background-image: url('../img/right-arrow-button.png');
    background-position-y: 137px;
    right: 3px;
}

.left-arrow
{
    background-image: url('../img/left-arrow-button.png');
    background-position-y: 127px;
    background-position-x: 2px;
    left: 3px;
}

    .left-arrow.disabled, .right-arrow.disabled
    {
    }

.navigation-points
{
    position: absolute;
    height: 48px;
    font-size: 1pt;
}

.home-page .navigation-points
{
    top: 0;
    left: 20px;
}

.search-page .navigation-points
{
    top: 35px;
    left: 40px;
}

.point
{
    height: 13px;
    width: 13px;
    border-radius: 20px;
    background-color: #ddd;
    margin-bottom: 2px;
}

.selectedPoint
{
    height: 17px;
    width: 17px;
    border-radius: 10px;
    background-color: #aaa;
    margin-bottom: 0;
}

.point, .selectedPoint
{
    margin-right: 5px;
    display: inline-block;
}

.products-list-name
{
    margin-right: 20px;
    margin-bottom: 20px;
    color: rgb(33, 141, 202);
}


.search-right-arrow
{
    position: absolute;
    right: 0;
}

.search-left-arrow
{
    position: absolute;
    left: 0;
}

.categories-menu, .filters-menu
{
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.category-container, .filter-container
{
    position: relative;
    line-height: 40px;
    border-bottom: solid 1px #DDD;
}

.filter-container
{
    position: relative;
    border-bottom: none;
}

.clear-filter
{
    position: absolute;
    left: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.somethingSelected .category-container
{
    background-color: #eee;
}

.categories-menu ul, .filters-menu ul
{
    margin-right: 0;
}

.level1
{
    padding-right: 30px;
    line-height: 35px;
    border-bottom: solid 1px #DDD;
}

.category-dot, .filter-check
{
    position: absolute;
    right: 10px;
    top: 0;
    width: 24px;
    z-index: 1;
    color: deepskyblue;
    font-size: 7pt;
    display: none;
}

.category-container.selected .category-dot,
.category-container.expanded .category-dot,
.filter-container.selected .filter-check
{
    display: block;
}

.category-name, .nav li
{
    font-weight: bold;
}

.category-name
{
    margin-left: 30px;
    margin-right: 10px;
}

.category-container.selected .category-name,
.category-container.expanded .category-name,
.filter-container.selected .category-name
{
    margin-right: 30px;
}

.level1.selected
{
    color: deepskyblue;
    font-weight: bold;
}

.category-arrow
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24px;
    z-index: 1;
    font-size: 15pt;
    color: grey;
}

.category-container.selected .category-arrow
{
    color: #333;
}

.clear:before,
.clear:after
{
    content: " ";
    display: table;
}

.clear:after
{
    clear: both;
}

.compare-table, .table-head
{
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

    .compare-table td .inner
    {
        margin: 5px;
        height: 100px;
        overflow: auto;
        vertical-align: middle;
    }

.compare-table, .add-product-to-compare, .table-head
{
    text-align: center;
}

    .compare-table td, .table-head th
    {
        width: 110px;
    }

    .compare-table td
    {
        height: 130px;
        border-right: solid 1px #ccc;
    }

.add-product-to-compare
{
    border: solid 1px #ccc;
    background-color: #ddd;
    color: #ccc;
    font-size: 30pt;
    box-shadow: 0 1px 1px 2px #ddd;
    line-height: 100px;
    width: 110px;
}

.comparison-products
{
    position: absolute;
    width: 150px;
    top: 50px;
}

    .comparison-products .product-info
    {
        height: 130px;
        padding: 1px;
        margin: 0 0 10px 0;
    }

    .comparison-products .product-border
    {
        margin: 0;
    }

.table-container
{
    margin-right: 150px;
    overflow: auto;
}

.remove-product
{
    height: 0;
    width: 0;
    border-top: 20px solid red;
    border-right: 20px solid red;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
}

.main-promotion .nav-tabs, .main-promotion .nav-tabs .active a, .main-promotion .nav-tabs .active a:hover, .main-promotion .nav-tabs li a
{
    border: none;
}

    .main-promotion .nav-tabs a:hover
    {
        background: none;
    }

    .main-promotion .nav-tabs a:hover
    {
        color: #555555;
    }

.main-promotion .nav-tabs
{
    margin: 0;
}

    .main-promotion .nav-tabs li a
    {
        padding-bottom: 0;
    }

.filter-tab
{
    background-color: #ccc;
    border-top-left-radius: 4px;
}

.filter-tab.disable a {
    color: gray;
}

.filter-tab.disable {
    pointer-events: none;
}

.main-promotion .nav-tabs .active a
{
    color: rgb(6, 181, 240);
}

.promotion-arrow
{
    text-align: center;
    font-size: 15pt;
}

.popover
{
    margin-top: 4px;
}

.popover-title
{
    padding: 1px;
    background-color: #444;
    border-bottom: 1px solid #444;
}

.popover-inner
{
    padding: 0;
    border: solid 1px #444;
    border-top-right-radius: 0;
}

.popover.bottom .arrow
{
    border: none;
}

.popover-content
{
    padding: 10px 0;
    position: relative;
}

.menu .nav-tabs, .menu .nav-tabs .active a, .menu .nav-tabs .active a:hover, .menu .nav-tabs li a
{
    border: none;
    width: 140px;
}

    .menu .nav-tabs li a
    {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        text-align: center;
        border-radius: 0;
    }

.nav li a:hover
{
    background-color: transparent;
}

.category-tab, .filter-tab
{
    position: absolute;
    top: 0;
    border: none;
    border-radius: 0;
}

.category-tab
{
    background-color: #ccc;
    right: 0;
}

.filter-tab
{
    left: 0;
}

.menu .tab-content
{
    position: relative;
    top: 24px;
    margin-bottom: 13px;
}

.full-path
{
    margin-top: 35px;
}

.full-path li, .filter-path li {
    display: inline;
}

.ancestor, .parent, .main-bread-cramb a
{
    color: rgb(6, 181, 240);
}

.main-bread-cramb a:hover {
    text-decoration: none;
}

.current-category, .filter-path .filters-on-path {
    color: rgb(54, 132, 204);
    font-weight: bold;
}

.filter-path span {
    color: #bbb;
    font-weight: 100;
    margin-left: 15px;
    margin-right: 15px;
}

.clear-filter-path .clear-filter
{
    display: inline;
    position: inherit;
}