<header>
    
    <div class="header-right-side">
        <div class="logo">
            <a href="#" ng-click="home()">
                <img src="app/img/logo.png">
            </a>
            
        </div>
        <div class="right-buffer"></div>
        <div class="header-category">
             
                <div class="menu-button">
                <button class="category" ng-click="toggleMenu()">
                    <span>לפי קטגוריה</span>
                    <i class="fa fa-filter ng-hide" ng-show="isFiltered"></i>
                    <i class="fa fa-caret-down" ng-show="!isFiltered"></i>
                </button>
                </div>
            <app-menu></app-menu>
             <!--<ws-categories-menu-trigger></ws-categories-menu-trigger>-->

        </div>
        <div class="right-buffer"></div>
    </div>
    <div class="search">
        <div class="search-inner">
            <form ng-submit="search()">
                <div class="search-input">
                    <input type="text" placeholder="מה תרצו לשופס?" ng-model="searchTerm" maxlength="50"/>
                </div>
                <input type="submit" class="search-button" value="חפש" />

            </form>
        </div>
    </div>

    <div class="user" ng-click="openUserCard()">
        <div class="left-buffer"></div>
        <div class="user-image"></div>
    </div>


    <!--<div class="header-left-side">
            <div class="hello-user">
                <span><a href="#">שלום קטי</a></span>
                <i class="fa fa-caret-down"></i>
                <div class="left-buffer"></div>
            </div>
            <div>
            </div>

            <div class="cart">

                <a href="#">
                    <img src="app/img/cart.png">
                </a>
            </div>
        </div>-->


    <div class="header-left-side">

        <div class="call-center">
            <div class="left-buffer"></div>
            <div>מרכז הזמנות</div>
            <a class="phone-number" href="#" ng-click="preventefault($event)">09-9608020</a>
        </div>

    </div>
    
</header>


