<div class="comparison-page">
    <div class="titles">
        <h4 class="title">
            תוצאות השוואה
        </h4>
        <div class="back-button"><button type="button" class="btn btn-default" ng-click="goBack()">חזור</button></div>
    </div>
    
    <ws-loading ng-show="loading"></ws-loading>

    <div class="table-background">
        <div class="table-container" ng-hide="loading">

            <table class="compare-table" ng-style="{width: (150*features.length) + 'px'}">
                <thead ng-show="!isEmpty()">
                    <tr>
                        <th class="headcol"><div class="inner">מוצרים</div></th>
                        <th>שם מוצר</th>
                        <th ng-repeat="feature in features">{{feature.header}}</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="product in productsToCompare" ng-show="!isEmpty()">
                        <td class="headcol" ng-click="showProduct(product)">
                            <div ng-if="productsToCompare.length>1" class="remove-product" ng-click="publishRemoveProduct(null,$event)">
                                <i class="fa fa-times"></i>
                            </div>
                            <div class="inner">
                                <img ng-src="{{ product.imageUrl }}" />
                                <div class="details-line">
                                    <span class="details-text">לפרטים</span>
                                    <span class="details"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            {{product.title}}
                        </td>
                        <td ng-repeat="feature in features">
                            
                            <span ng-switch on="feature.header">
                                <span ng-switch-when="מחיר">
                                    {{feature.values[product.id] | number:0}} ₪
                                </span>
                                <span class="rating" ng-switch-when="דרוג גולשים">
                                    <img ng-src="app/img/star{{round(feature.values[product.id])}}.png" ng-if="round(feature.values[product.id])>0" />
                                </span>
                                <span ng-switch-default>
                                    {{feature.values[product.id]}}
                                </span>
                            </span>
                            
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
