<div class="home-page">
    <div class="promotions">
        <div class="main-promotion">
            <div>
                <ul class="nav nav-tabs">
                    
                    <li ng-repeat="promotion in main_promotions" ng-class="{'active': isSelected(promotion)}" ng-click="select(promotion)">
                        <a ng-href="#{{promotion.name}}" data-toggle="tab">{{promotion.name}}</a>
                        <div class="promotion-arrow" ng-show="isSelected(promotion)"><i class="fa fa-caret-up"></i></div>
                    </li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane" ng-repeat="promotion in main_promotions" ng-class="{'active': isSelected(promotion)}" id="{{promotion.name}}" ng-click="openPromotion(promotion.url)">
                        <img ng-src="{{promotion.promotion}}" alt="{{promotion.name}}" />
                    </div>

                </div>

            </div>
        </div>

        <div class="seasonal">
            <img ng-src="{{ firstPromotion.promotion}}" alt="{{ firstPromotion.name }}" ng-click="openPromotion(firstPromotion.url)" />
            <img ng-src="{{ secondPromotion.promotion}}" alt="{{ secondPromotion.name }}" ng-click="openPromotion(secondPromotion.url)" />
        </div>
    </div>

    <div class="products-list-container" ng-repeat="category in promotionsCategories">

        <products-list category="category" show-product="showProduct(product)"></products-list>

    </div>

</div>


