<div class="promotions">
    <div class="main-promotion">
        <ul class="promotion-list">
            <li><b ng-click="changeImage()">מצלמות במבצע</b></li>
            <li><b>מסעדות ב50% הנחה</b></li>
            <li><b>קולקצית חורף 2012</b></li>
        </ul>
        <div class="up-arrow"><i class="fa fa-caret-up"></i></div>
        <img ng-src="{{ main_promotion.promotion}}" alt="{{main_promotion.name}}" />
    </div>

    <div class="seasonal">
        <img ng-src="{{ seasonal_image1.promotion}}" alt="{{ seasonal_image1.name }}" />
        <img ng-src="{{ seasonal_image2.promotion}}" alt="{{ seasonal_image2.name }}" />


    </div>
</div>

<div class="products-list-container" ng-repeat="category in promotionsCategories">

    <products-list category="category" show-product="showProduct(product)"></products-list>

</div>

