<div class="home-page">
    <div class="promotions">
        <div class="main-promotion">
            <div>
                <ul class="nav nav-tabs">
                    
                    <li ng-repeat="promotion in main_promotions" ng-class="{'active': isSelected(promotion)}" ng-click="select(promotion)">
                        <a ng-href="#Promotion_{{promotion.id}}" data-toggle="tab">{{promotion.title.text}}</a>
                        <div class="promotion-arrow" ng-show="isSelected(promotion)"><i class="fa fa-caret-up"></i></div>
                    </li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane" ng-repeat="promotion in main_promotions" ng-class="{'active': isSelected(promotion)}" id="Promotion_{{promotion.id}}" ng-click="openPromotion(promotion.link.url)">
                        <img ng-src="{{promotion.image.url}}" alt="{{promotion.title.text}}" />
                    </div>

                </div>

            </div>
        </div>

        <div class="seasonal">
            <img ng-src="{{ firstPromotion.image.url}}" alt="{{ firstPromotion.title.text }}" ng-click="openPromotion(firstPromotion.link.url)" />
            <img ng-src="{{ secondPromotion.image.url}}" alt="{{ secondPromotion.title.text }}" ng-click="openPromotion(secondPromotion.link.url)" />
        </div>
    </div>

    <div class="products-list-container" ng-repeat="category in promotionsCategories">
        <products-list category="category" show-product="showProduct(product)"></products-list>

    </div>

</div>


