<div class="search-page">

    <ul class="full-path">
        <li class="main-bread-cramb"><a href="#"> {{fullPath.mainBreadCramb}} </a></li>
        <li class="ancestor" ng-click="selectCategoryByPath(fullPath.ancestor)">{{fullPath.ancestor}}</li>
        <li class="parent" ng-click="selectCategoryByPath(fullPath.parent)">{{fullPath.parent}}</li>
        <li class="current-category">{{fullPath.current}}</li>
        
    </ul>

    <ul class="filter-path">
        <li class="filters-on-path" ng-repeat="filter in selectedFilterValues.values" ng-show="isFilterValueNotEmpty(filter.value)">
            {{filter.value.title}} <span>|</span>
        </li>
    
    
    <li class="clear-filter-path" ng-show="isFilterValueNotEmpty(selectedFilterValues)">
        <div class="clear-filter" ng-click="clearSelectedFilterValues()">נקה סינון</div>
    </li>
    </ul>

    <div class="products-list-container clear">
        <div class="products-list-content" ng-show="productsLine1.length">
            <products-list-items products="currentProductsPage1" show-product="showProduct(product)"></products-list-items>
            <products-list-items products="currentProductsPage2" show-product="showProduct(product)"></products-list-items>
        </div>
    </div>
    
    <products-list-navigation step="{{step}}" products-list-length="{{productsLine1.length}}" navigation-info="navigationInfo"></products-list-navigation>

</div>

<!--<div ng-show="category.products.length" ng-swipe-right="navigateNext()" ng-swipe-left="navigateBack()">
     <h4 class="products-list-name">{{category.name}}</h4>
    <products-list-items products="currentProductsPage" show-product="showProduct(product)"></products-list-items>
    <products-list-navigation step="{{step}}" products-list-length="{{category.products.length}}" navigation-info="navigationInfo"></products-list-navigation>
</div>-->