<div class="product-border">

    <div class="product-info">
        <img class="productImg" ng-src="{{ product.imageUrl }}" />
        <div class="icons">
            <div class="iconImg" ng-repeat="icon in product.icons">
                <img ng-src="{{ icon.url }}" />
            </div>
        </div>

        <p class="title"><b>{{ product.title }}</b></p>
        <p class="subtitle">{{ product.subtitle}}</p>
        <p>{{ product.subtitle2}}</p>
        <div class="rating">
            <div class="raters-number">({{product.ratersNumber}})</div>
            <i class="fa" ng-repeat="star in stars" ng-class="{'fa-star': $index<=product.rating, 'fa-star-o':$index>product.rating, 'fa-star-half-o' : $index==asInt(product.rating) && isDecimal(product.rating) }"></i>
            
        </div>
        <p class="price"><b>{{ product.price}}</b></p>
        
        <span class="details-text">{{ product.details}}</span>
        <p class="details"></p>


    </div>

</div>
